body{
    overflow-x: hidden !important;
}
footer{
    background-color: #5b5b5b;
    margin-bottom: auto;
    bottom: 0;
    margin-top: 12vh;
    width: 100%;
    margin-bottom: auto;
    position: relative;
    text-align: center;
    padding: 3vh;
}
#bodycontent{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}
.square{
    height: 40vh;
    width: 50vh;
    color: #474747;
    background-color: #dfdfdf;
    padding: 2vh;
    margin-left: 2vh;
}
.square-auto{
    color: #474747;
    background-color: #dfdfdf;
    padding: 2vh;
    margin-left: 2vh;
    height: 90%;
    width: 40%;
    margin-right: 2vh;
}
.square h5{
    margin-top: 4vh;
}
.square h6{
    margin-top: 4vh;
    font-style: italic;
    text-align: center;
}
.displays{
    display: flex;
    padding: 2vh;
    margin: 1vh;
    width: 100%;
}
.displays h4{
    margin-left: 2vh;
}
.top-grow3{
    flex-grow: 3;
    margin-top: 2vh;
}
.top-grow2{
    flex-grow: 2;
    margin-top: 2vh;
}
.banner-01{
    flex-grow: 4;
    flex-wrap: wrap;
    height: 50vh;
    background-color: gray;
    color: #474747;
    text-align: center;
    justify-content: center;
}
.banner-02{
    flex-grow: 4;
    flex-wrap: wrap;
    height: 50vh;
    text-align: center;
    justify-content: center;
    
}

.col{
    display: flex;
    flex-flow: column wrap;
}
.row{
    display: flex;
    flex-flow: row wrap;
}
.growDisplay{
    flex-grow: 4;
}
.card{
    padding-left: 1vh;
    margin-left: 1vh;
}
.alignCenter
{
    justify-content: center;
}
.spaceElement{
    height: 60%;
}
/*Elementos graficos */
.bars{
    height: 1vh; /*percentual de 0 ate 3% */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -0vh;
}
.bars1{
    height: 4vh; /*Percentual de 4% até 10%*/
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -3vh;
}
.bars2{
    height: 8vh; /**/
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -7vh;
}
.bars3{
    height: 12vh; /*Max é 20vh */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -11vh;
}
.bars4{
    height: 13vh; /*Max é 20vh */
    width: 8vh;
    float: left;
    margin-left: 1vh;
    margin-top: -12vh;
}
.bars5{
    height: 14vh; /*Max é 20vh */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -13vh;
}
.bars6{
    height: 15vh; /*Max é 20vh */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -14vh;
}
.bars7{
    height: 16vh; /*Max é 20vh */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -15vh;
}
.bars8{
    height: 17vh; /*Max é 20vh */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -16vh;
}
.bars9{
    height: 18vh; /*Max é 20vh */
    width: 6vh;
    float: left;
    margin-left: 1vh;
    margin-top: -17vh;
}
.cor-green
{
    background-color: #56c956;
}
.cor-red{
    background-color: #ff7676;
}
.cor-blue{
    background-color: #7d7dff;
}
.article{
    justify-content: center;
}
/*Responsividade*/
@media only screen and (max-width: 600px) {
    .alignCenter {
      flex-flow: column;
      align-items: center;
    }
    .square {
        height: 40vh;
        width: 80vh;
        color: #474747;
        background-color: #dfdfdf;
        padding: 2vh;
        margin-top: 4vh; 
      }
      .square-auto{
        height: 50vh;
        width: 80vh;
        color: #474747;
        background-color: #dfdfdf;
        padding: 2vh;
        margin-top: 4vh; 
      }
      .row{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          padding-bottom: 2vh;
      }
      .banner-02{
        flex-grow: 4;
        flex-wrap: wrap;
        height: auto;
        color: #474747;
        text-align: center;
        justify-content: center;
    }
    .alignCenter{
        flex-direction: row;
    }
    .article{
        flex-direction: column;
    }
    
  }
