body{
    overflow-x: hidden !important;
}
footer{
    background-color: #5b5b5b;
    margin-bottom: auto;
    bottom: 0;
    margin-top: 12vh;
    width: 100%;
    margin-bottom: auto;
    position: relative;
    text-align: center;
    padding: 3vh;
}
#bodycontent{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.displays{
    display: flex;
    padding: 2vh;
    margin: 1vh;
    width: 100%;
}
.banner-01{
    flex-grow: 4;
    flex-wrap: wrap;
    height: 50vh;
    background-color: gray;
    color: #474747;
    text-align: center;
    justify-content: center;
    
}
.col{
    flex-flow: column wrap;
}
.growDisplay{
    flex-grow: 4;
}
.card{
    padding-left: 1vh;
    margin-left: 1vh;
}
.alignCenter
{
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .alignCenter {
      flex-flow: column;
      align-items: center;
    }
  }
