<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pagestyle.css') }}" media="screen" /> 
    <link rel="stylesheet" type="text/css" href="../static/css/pagestyle.css" media="screen" />  
    <title>Bem vindo a ActionBag</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ActionBag</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DashBoard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ações populares
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Apple</a></li>
              <li><a class="dropdown-item" href="#">Microdoft</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Petrobras</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Projeto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="bodycontent">
    <div class="displays">
      <div class="displays banner-01 col">
         <h1>Avalie a sua melhor ação</h1>
         <h3>Seja bem vindo a plataforma de serviço operações da bolsa</h3>
      </div>
    </div>
    <div class="displays alignCenter">
      <div class="card" style="width: 18rem;">
        <img src="https://image.freepik.com/vetores-gratis/gestao-de-financas-avaliacao-de-orcamento-educacao-financeira-ideia-de-contabilidade-financiador-com-dinheiro-economista-segurando-personagem-de-desenho-animado-de-moeda-de-ouro_335657-3538.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aonde Investir?</h5>
          <p class="card-text">Saiba quais ações estão mais em alta nos ultimos meses.</p>
          <a href="/acao/GOOGL" class="btn btn-primary">Ver ações</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://image.freepik.com/vetores-gratis/mao-desenho-ilustracao-de-financas-conceito_53876-15473.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ações em queda</h5>
          <p class="card-text">Veja quais ações mais tiveram queda,veja agora! </p>
          <a href="#" class="btn btn-primary">Verificar quedas</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/vetores-gratis/conceito-de-ilustracao-de-financas_114360-769.jpg?size=338&ext=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Multi ações</h5>
          <p class="card-text">Verifique 3 ativos ao mesmo tempo no nosso dashboard.</p>
          <a href="#" class="btn btn-primary">Ir para DashBoard</a>
        </div>
      </div>
      
    </div>

  </div>
<footer>
  By Felipe Catão 2022 
</footer>
</body>
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
    })
</script>
</html>